extend layout

block content
	h1.header= image.title
	div.container
		img(src=`${image.link}`).img_one
		a(href="/images/" + image.id + "/delete").btn_delete Delete
		a(href="/images/" + image.id + "/archive").btn_archive Archive
