extend layout

block content
  .bg
    img.bg_img(src='/assets/images/bg.png' alt='Gallery App' width='100%')
  div
    h1.main-title Gallery App - create your own gallery online.
  a(href='/images/new').add_img.button Get Started