extend layout

block content
  h2.header Add New Image

  if show
    div.msg Success!
  
  div.container
    form(method="post" action="/images")
      label(for="title") Title
      input(type="text" name="title" id="title")

      label(for="link") Link
      input(type="text" name="link" id="link")

      input(type="submit" value="Add").btn_add
