/* layout.pug */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

header {
  background: #0b5e59;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  width: 3%;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: aqua;
}

.nav__links:hover {
  color: #69d4d4;
}

.add_img {
  padding: 9px 25px;
  background-color: white;
  color: #00412b;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.add_img:hover {
  background-color: aqua;
  color: #134937;
  transition: all 0.8s ease 0s;
}

footer {
  background-color: #0b5e59;
  color: #fff;
  text-align: center;
}

/* index.pug */
.bg {
  width: 100%;
}

.bg_img {
  filter: brightness(50%);
}

.main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  position: absolute;
  top: 22%;
  left: 3%;
  color: #fff;
}

.button {
  position: absolute;
  top: 35%;
  left: 3%;
}

/* images.pug */
.img {
  width: 25rem;
  height: 30rem;
  margin: 1rem;
}

.images {
  display: flex;
  flex-flow: row wrap;
}

/* image.pug */
.header {
  text-align: center;
  margin: 2rem auto;
}

.container {
  height: 50%;
  width: min-content;
  margin: auto;
}

.img_one {
  display: block;
  width: 50vw;
  height: 80vh;
}

.btn_archive,
.btn_delete {
  border-radius: 50px;
  background-color: #b22222;
  padding: 16px;
  margin: 16px;
  cursor: default;
  color: #fff;
  float: right;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

.btn_archive:hover,
.btn_delete:hover {
  opacity: 0.9;
}

.btn_archive {
  background-color: #ffff00;
}

/* new.pug */
.msg {
  padding: 16px;
  color: #228b22;
  width: 7rem;
  text-align: center;
  margin: 16px auto;
}

.btn_add {
  float: right;
  padding: 8px 16px;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 3px;
  background-color: #000080;
}

.btn_add:hover {
  opacity: 0.8;
}

form {
  width: 65vw;
  min-height: 75vh;
}

form > * {
  margin: 16px 0;
  display: block;
}

input[type="text"] {
  width: 100%;
}
